body {
    font-family: "Roboto Mono", serif;
    font-style: normal;
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -80px;
    background-size: 100% 100%;
    background-attachment: fixed;
}

nav {
    position: fixed;
    background-color: transparent;   /*jangan lupa switch transparan*/
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    display: flex;
    z-index: 1;
}
.menuDropdown {
    margin-left: 25px;
    margin-top: 15px;
    position: relative;
    display: flex;
    gap: 1rem;
}
.logoguild img{
    height: 60px;
    border-radius: 30%;
}
.menuBtnDropdown {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: .8s;
    margin-top: 6px;
}
.chevronDown{
    margin-bottom: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.menuBtnDropdown > u{
    font-weight: 700;
    display: flex;
    gap: 2rem;
}
.menuDropdownContent {
    display: none;
    margin-left: 55px;
    position: absolute;
    background-color: transparent;
    min-width: 150px;
    z-index: 1;
}
.menuDropdownContent a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}
.menuDropdownContent a:hover  {/*background-color: #ddd;*/ scale: 1.2; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.menuDropdown:hover .menuDropdownContent {display: block; margin-top: 60px;}
.menuDropdown:hover .menuBtnDropdown {scale: 1.2;}
.headerNavbar {
    padding-right: 300px;
    justify-content: space-between;
    display: flex;
    gap: 3rem;
    background-color: transparent; /*testing purpose */
}
.headerNavbar a{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    transition: .8s;
}
.headerNavbar a:hover{
    cursor: pointer;
    scale: 1.2;
    border-bottom: 1px solid gray;
}


.guildTitle{ 
    width: 650px;
    height: 220px;
    margin-left: 500px;
    margin-top: 140px;
    display: flex;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1.guildName{
    margin-top: 20px;
    font-weight: 700;
    font-size: 100px;
}
.unekunek {
    margin-left: 60px;
}
.unekunek h2 {
    font-weight: 700;
}


footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    background-color: black;
    z-index: 1000;
}
figure {
    bottom: 1rem;
    position: absolute;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    fill: white;

    figcaption a {
    color: white;
    text-decoration: none;
    margin-left: .5rem;
    font-size: 1.2rem;
    
      &:hover {
        text-decoration: underline;
      }
      &:active {
        font-size: 1rem;
      }
    }
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}