nav {
    background-color: aqua;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.menuDropdown {
    margin-left: 25px;
    margin-top: 15px;
    position: relative;
    display: flex;
}
.logoguild img{
    height: 60px;
    border-radius: 30%;
}
.menuBtnDropdown {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.menuDropdownContent {
    display: none;
    margin-left: 44px;
    position: absolute;
    background-color: transparent;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menuDropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menuDropdownContent a:hover  {background-color: #ddd;}
.menuDropdown:hover .menuDropdownContent {display: block; margin-top: 60px;}
.menuDropdown:hover .menuBtnDropdown {background-color: #ddd;}
.headerNavbar {
    margin-right: 200px;
    justify-content: space-between;
    display: flex;
    gap: 3rem;
}

section {
    padding: 1000px;
}




.footerContent {
    padding: 20px;
    background-color: black;
}
